body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.logo{
    width: 300px;
}
ul li{
    padding: 10px;
}
.pic{
    width: 100%;
}
.be-the-penguins{
    color: #bfff00;
}
h1{
    font-size: 70px;
}
.jacket img{
    background-color:linen;
    padding: 40px;
    height: 500px;
    border-radius: 20px;
}
.jacket-border{
    border: 0;
}
.nd{
    margin-left: 20px;
    width: 90%;
}
.buy-btn{
    padding: 20px 45px;
}
.jacket-footer{
    border: 0;
}
.shopping{
    width: 100%;
}
 .aa{
    height: 150px;
} 
.aa img{
    height: 120px;
    width: 100px;
}
.offerimg{
    width: 80%; 
}
footer{
    padding: 10px;
    margin-top: 50px;
    text-align: center;
}
.social img{
 height: 30px;
 width: 30px;
}
